@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Effra";
  src: url("../fonts/Effra_Std_Rg.eot");
  src: local("☺"), url("../fonts/Effra_Std_Rg.woff") format("woff"), url("../fonts/Effra_Std_Rg.ttf") format("truetype"), url("../fonts/Effra_Std_Rg.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Effra";
  src: url("../fonts/Effra Bold.eot");
  src: local("☺"), url("../fonts/Effra Bold.woff") format("woff"), url("../fonts/Effra Bold.ttf") format("truetype"), url("../fonts/Effra Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Effra";
  src: url("../fonts/Effra Medium.eot");
  src: local("☺"), url("../fonts/Effra Medium.woff") format("woff"), url("../fonts/Effra Medium.ttf") format("truetype"), url("../fonts/Effra Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Effra";
  src: url("../fonts/Effra Heavy.eot");
  src: local("☺"), url("../fonts/Effra Heavy.woff") format("woff"), url("../fonts/Effra Heavy.ttf") format("truetype"), url("../fonts/Effra Heavy.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "GoodDog";
  src: url("../fonts/gooddog/GoodDog New W00 Regular.eot");
  src: local("☺"), url("../fonts/gooddog/GoodDog New W00 Regular.woff") format("woff"), url("../fonts/gooddog/GoodDog New W00 Regular.ttf") format("truetype"), url("../fonts/gooddog/GoodDog New W00 Regular.svg") format("svg"), url("../fonts/gooddog/GoodDog New W00 Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "Effra", sans-serif;
  font-weight: 400;
}

.ibg {
  background-repeat: repeat-y;
  background-position: top;
}
.ibg > img {
  display: none;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav-list > li:not(:last-child) {
  margin-right: 40px;
}

.nav-link {
  font-size: 18px;
  -webkit-transition: color 0.2s ease 0s;
  transition: color 0.2s ease 0s;
}
.nav-link:hover {
  color: #8cc83a;
}

.header.header--fixed {
  background-color: #000;
  -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.6);
}

html {
  scroll-behavior: smooth;
}

.header {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.header.header--fixed {
  position: fixed;
}
.header__logo {
  position: relative;
  z-index: 5;
}
.header__login-wrap {
  font-size: 18px;
  z-index: 10000;
}
@media (max-width: 910px) {
  .header__login-wrap {
    margin-right: 25px;
  }
}
@media (max-width: 360px) {
  .header__login-wrap {
    display: block;
    margin: 0;
    font-size: 24px;
  }
  .header__login-wrap > a {
    font-size: 24px;
    margin: 15px 0;
    display: block;
    text-align: center;
  }
}
.header__login {
  color: #fff;
  margin-right: 40px;
}
.header__reg {
  color: black;
  background-color: #fff;
  padding: 12px 32px;
  border-radius: 40px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__reg:hover {
  background-color: #8cc83a;
}

.header__container {
  max-width: 1398px;
  padding: 0 18px;
  padding-right: 23px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__icon {
  display: none;
}

.menu__list {
  font-weight: 400;
}
.menu__list > li {
  position: relative;
  margin: 0;
  margin-left: 40px;
}
.menu__list > li:first-child {
  margin-left: 0;
}
.menu__list > li:hover .menu__link::after {
  opacity: 1;
}
.menu__list > li:hover .menu__link {
  color: #a8ff35;
}

.menu__link {
  color: #fff;
  font-size: 18px;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
.menu__link::after {
  display: block;
  content: "";
  background-color: #a8ff35;
  width: 80%;
  height: 2px;
  margin: 0 auto;
  margin-top: 5px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
.menu__link.active::after {
  opacity: 1;
}
.menu__link.active {
  color: #000000;
}

@media (min-width: 910px) {
  .menu__body {
    padding-top: 12px;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 910px) {
  .header__container {
    min-height: 65px;
  }

  body._locked {
    overflow: hidden;
  }

  .menu__icon {
    z-index: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 24px;
    height: 24px;
    background-color: transparent;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 7px 0;
    cursor: pointer;
  }
  .menu__icon-svg {
    background-color: #fff;
    width: 18px;
    height: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu__icon-svg:after {
    content: "";
    display: block;
    width: 18px;
    height: 2px;
    background-color: #fff;
    margin-top: 6px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border-radius: 2px;
  }
  .menu__icon._active-menu .menu__icon-svg {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    height: 2.5px;
  }
  .menu__icon._active-menu .menu__icon-svg:after {
    -webkit-transform: translateY(-6px) rotate(90deg);
            transform: translateY(-6px) rotate(90deg);
    height: 2.5px;
  }

  .menu__body {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    padding: 100px 30px 30px 30px;
    -webkit-transition: top 0.5s ease 0s;
    transition: top 0.5s ease 0s;
    overflow: auto;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 65px;
    z-index: 100;
    background-color: #000;
  }
  .menu__body._active-menu {
    top: 0;
  }

  .menu__link {
    font-size: 24px;
  }
  .menu__link::after {
    margin: 0;
    margin-top: 5px;
    width: 100%;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__list > li {
    text-align: center;
  }
  .menu__list > li {
    display: table;
    margin: 0 0 30px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu__list li:last-child {
    margin-bottom: 0;
  }
}
.footer {
  background-color: #fff;
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer__link {
  color: black;
}

.start__bg {
  padding-top: 100px;
  max-height: 100vh;
  min-height: 900px;
  height: 100vh;
}
@media (max-width: 1180px) {
  .start__bg {
    max-height: none;
    height: auto;
  }
}
@media (max-width: 1100px) {
  .start__bg {
    min-height: 100vh;
  }
}
.start__info {
  padding-top: 100px;
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  text-align: center;
  position: relative;
}
@media (max-width: 1180px) {
  .start__info {
    padding-top: 25px;
  }
}
@media (max-width: 730px) {
  .start__info {
    padding-top: 0px;
  }
}
.start__title {
  font-weight: 900;
  font-size: 72px;
  color: #fff;
  line-height: 80.64px;
}
@media (max-width: 730px) {
  .start__title {
    font-size: 56px;
  }
}
@media (max-width: 560px) {
  .start__title {
    font-size: 46px;
    line-height: 112%;
  }
}
@media (max-width: 430px) {
  .start__title {
    font-size: 36px;
  }
}
.start__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #8b8b8b;
  margin-top: 24px;
  margin-bottom: 40px;
}
@media (max-width: 560px) {
  .start__subtitle {
    margin-top: 18px;
    margin-bottom: 30px;
  }
}
.start__button {
  color: black;
  font-weight: 700;
  font-size: 18px;
  line-height: 25.2px;
  background-color: #a8ff35;
  padding: 16px 32px;
  border-radius: 40px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.start__button:hover {
  background-color: #8cc83a;
}
.start__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1076px;
  margin: 0 auto;
  position: relative;
  margin-top: 95px;
}
@media (max-width: 1180px) {
  .start__tabs {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 400px;
    margin-top: 35px;
    padding-bottom: 50px;
  }
}
@media (max-width: 1180px) {
  .start__tab {
    position: static !important;
  }
}
.start__twitter {
  position: absolute;
  top: 13px;
  left: 0;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  z-index: 4;
}
.start__pinterest {
  position: absolute;
  top: 73px;
  left: 202px;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  z-index: 3;
}
.start__linkedin {
  position: absolute;
  top: 18px;
  left: 453px;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  z-index: 2;
}
.start__dribbble {
  position: absolute;
  top: 76px;
  right: 5px;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  z-index: 1;
}

.start__arrow.arrow-text {
  -webkit-animation: arrow-shake 1000ms infinite;
          animation: arrow-shake 1000ms infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 143px;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}
.start__arrow.arrow-text .arrow-text__arrow {
  display: inline-block;
  -webkit-transform: rotate(-7deg) translateX(-28px);
          transform: rotate(-7deg) translateX(-28px);
}
@media (max-width: 700px) {
  .start__arrow.arrow-text {
    display: none;
  }
}

@-webkit-keyframes arrow-shake {
  0% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(13deg);
            transform: rotate(13deg);
  }
}

@keyframes arrow-shake {
  0% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(13deg);
            transform: rotate(13deg);
  }
}
.open {
  background-color: #a8ff35;
  padding: 140px 0;
  color: black;
}
.open__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 85px;
  text-align: center;
  margin-bottom: 60px;
}
.open__findtrend {
  max-width: 854px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.open__findtrend-tab-wrap {
  border-radius: 16px;
  background-color: #f5f5f5;
  width: 502px;
  height: 202px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.open__findtrend-tab {
  pointer-events: all;
}
.open__findtrend-tab.closed {
  opacity: 1 !important;
  pointer-events: all !important;
}
.open__findtrend-tab .tab__wrapper {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.open__arrow {
  position: absolute;
}
.open__arrow svg path {
  fill: black;
}
.open__arrow--1 {
  top: 66px;
  left: 56px;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}
.open__arrow--1 .arrow-text__arrow--top {
  -webkit-transform: rotate(175deg) translate(-20px);
          transform: rotate(175deg) translate(-20px);
}
.open__arrow--2 {
  top: 50px;
  right: 52px;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}
.open__arrow--2 .arrow-text__arrow {
  -webkit-transform: rotate(-3deg) translate(-28px);
          transform: rotate(-3deg) translate(-28px);
}
.open__subtitle {
  font-size: 18px;
  font-weight: 400;
  max-width: 666px;
  line-height: 150%;
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
}

.stats {
  background-color: #FFF;
}
.stats__title {
  padding: 140px 0;
}
.stats__title--grey {
  color: #adadad !important;
}
.stats__companies-subsection {
  padding: 140px 0;
}
.stats__startup {
  text-align: center;
  padding-bottom: 80px;
}
.stats__companies-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 32px 1fr 32px 1fr 32px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 32px;
}

.company {
  width: 266px;
  height: 120px;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.company:hover {
  background-color: #fff;
}
.company img {
  max-width: 100%;
}

.platforms {
  padding: 140px 0;
  background-color: #FAFAFA;
  text-align: center;
}
.platforms__title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 64px;
  margin-bottom: 80px;
}
.platforms__radio-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 77px;
}
.platforms__content {
  margin: 0 auto;
  max-width: 800px;
}
.platforms__content img:not(:last-child) {
  margin-bottom: 40px;
}
.platforms__content img:last-child {
  margin-bottom: 80px;
}
.platforms__view-btn {
  padding: 16px 32px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: black;
  color: #fff;
  border-radius: 40px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.platforms__view-btn:hover {
  color: #8cc83a;
}

.platform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 124px;
  height: 124px;
  border-radius: 8px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.platform:hover {
  background-color: rgb(194, 194, 194);
}
.platform.active {
  background-color: #a8ff35;
}

.pricing {
  background-color: black;
  padding: 140px 0;
}
.pricing__title {
  color: #fff;
}
.pricing__switch {
  color: #f5f5f5;
}
.pricing__options-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pricing__options-wrap > div:not(:last-child) {
  margin-right: 40px;
}

.switch {
  width: 345px;
  margin: 0 auto;
  max-height: 132px;
  position: relative;
}
.switch__wrap {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.switch__arrow {
  position: absolute;
  top: 50%;
  margin-top: -34px;
  right: -85px;
}
.switch__arrow .arrow-text {
  -webkit-transform: rotate(7deg);
          transform: rotate(7deg);
  max-width: 60px;
}
.switch__arrow .arrow-text__arrow {
  -webkit-transform: translate(-25px) rotate(-5deg);
          transform: translate(-25px) rotate(-5deg);
}
.switch__period {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
.switch__period .active {
  color: #fff;
}
.switch__button {
  width: 104px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 99px;
  background-color: #fff;
  padding: 8px;
  position: relative;
  margin: 40px 24px;
}
.switch__button.toggle div {
  right: 8px;
}
.switch__circle {
  right: 60px;
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  background-color: #a8ff35;
}

.pricing-option {
  padding: 32px;
  width: 360px;
  height: 640px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pricing-option.white {
  background-color: #fff;
}
.pricing-option.green {
  background-color: #a8ff35;
}
.pricing-option__name {
  font-size: 36px;
  font-weight: 500;
  line-height: 36px;
  text-transform: capitalize;
}
.pricing-option__target {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 8px;
}
.pricing-option__price {
  position: relative;
  min-height: 84px;
  margin-bottom: 32px;
}
.pricing-option__price::before {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 32px;
  margin-bottom: 19px;
}
.pricing-option__price-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.pricing-option__price-wrap.active {
  opacity: 1;
  pointer-events: all;
}
.pricing-option__dollars {
  font-size: 64px;
  font-weight: 500;
  line-height: 64px;
}
.pricing-option__per-what {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
.pricing-option__plus {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pricing-option__plus::before {
  display: block;
  content: "";
  width: 14px;
  height: 9px;
  background-image: url("../img/ok.svg");
  margin-right: 13px;
}
.pricing-option__plus:not(:last-child) {
  margin-bottom: 27px;
}
.pricing-option__start-btn {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 29px;
}
.pricing-option__start-btn.green {
  background-color: #a8ff35;
}
.pricing-option__start-btn.black {
  background-color: black;
  color: #fff;
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
.pricing-option__start-btn.black:hover {
  background-color: #fff;
  color: black;
}
.pricing-option__start-btn:hover {
  background-color: #8cc83a;
}

.email {
  text-align: center;
  background-color: #a8ff35;
  padding: 140px 0;
  font-size: 72px;
  font-weight: 900;
  line-height: 81px;
}
.email__title {
  color: black;
}
.email__subtitle {
  color: #87d322;
  margin-bottom: 40px;
}
.email__button {
  padding: 16px 52px;
  border-radius: 40px;
  background-color: black;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}
.email__button:hover {
  color: #8cc83a;
}

.popup {
  font-size: 22px;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  top: 0;
  left: 0;
  z-index: 20000;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow-y: auto;
  overflow-x: hidden;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup.open .popup__content {
  top: 0;
}
.popup__body {
  cursor: pointer;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}
.popup__content {
  position: relative;
  z-index: 2;
  background-color: #000;
  border: 1px solid #fff;
  color: #a8ff35;
  max-width: 400px;
  min-width: 300px;
  width: 70%;
  border-radius: 10px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: -100vh;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.popup__close {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  z-index: 5;
  display: block;
  position: relative;
  width: 28px;
  height: 20px;
  cursor: pointer;
}
.popup__close::before, .popup__close::after {
  left: 0;
  position: absolute;
  height: 10%;
  width: 100%;
  background-color: #a8ff35;
  content: "";
}
.popup__close::before {
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.popup__close::after {
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.popup__title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: bold;
}
.popup__login-form label, .popup__login-form input {
  display: block;
}

.login-form__input {
  font-size: 18px;
  color: #fff;
  font-style: italic;
  padding-bottom: 3px;
  padding-top: 7px;
  background-color: transparent;
}
.login-form__input:focus {
  font-style: normal;
  color: #a8ff35;
}
.login-form__input:focus::-webkit-input-placeholder {
  color: transparent;
}
.login-form__input:focus::-moz-placeholder {
  color: transparent;
}
.login-form__input:focus:-ms-input-placeholder {
  color: transparent;
}
.login-form__input:focus::-ms-input-placeholder {
  color: transparent;
}
.login-form__input:focus::placeholder {
  color: transparent;
}
.login-form__submit {
  border: 1px solid #000;
  padding: 5px 50px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.login-form__item {
  margin-top: 35px;
}
.login-form__item--input {
  border-bottom: 2px solid #a8ff35;
}
.login-form__item--submit {
  margin-top: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}
.login-form__item--submit:hover .login-form__submit {
  color: #fff;
  background-color: #a8ff35;
  border: 1px solid #a8ff35;
}
.login-form__item--add {
  margin-top: 5px;
}
.login-form__item--add a {
  font-weight: 500;
  font-size: 18px;
  color: rgb(184, 184, 184);
  font-style: italic;
  text-decoration: underline;
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
  -webkit-transition: -webkit-text-decoration-color 0.3s ease 0s;
  transition: -webkit-text-decoration-color 0.3s ease 0s;
  transition: text-decoration-color 0.3s ease 0s;
  transition: text-decoration-color 0.3s ease 0s, -webkit-text-decoration-color 0.3s ease 0s;
}
.login-form__item--add a:hover {
  -webkit-text-decoration-color: rgb(184, 184, 184);
          text-decoration-color: rgb(184, 184, 184);
}
.login-form__signup {
  margin-top: 50px;
}
.login-form__signup a {
  font-style: normal;
}

body.popup-lock {
  overflow: hidden;
}

body {
  background-color: black;
}

.h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  text-align: center;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
.container--large {
  max-width: 1300px;
}
.container--small {
  max-width: 1180px;
}

.logo {
  display: block;
  width: 170px;
  height: 41px;
}
.logo__mobile {
  display: none;
}
@media (max-width: 510px) {
  .logo {
    width: 40px;
    height: 40px;
  }
  .logo__mobile {
    display: block;
  }
  .logo__mobile svg {
    width: 40px;
    height: 40px;
  }
  .logo__desk {
    display: none;
  }
}

.arrow-text {
  font-size: 14px;
  font-weight: 400;
  font-family: "GoodDog", sans-serif;
  text-align: center;
  max-width: 95px;
}
.arrow-text__text {
  max-width: 95px;
}
.arrow-text__arrow--top {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.tab {
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
@media (max-width: 1180px) {
  .tab {
    width: 300px;
    height: 80px;
    font-size: 20px;
  }
}
.tab.closed {
  opacity: 0;
  pointer-events: none;
}
.tab__wrapper {
  width: 341px;
  height: 82px;
  max-width: 341px;
  max-height: 82px;
  padding: 25px 24px 25px 40px;
  background-color: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 7.29px 7.29px 5px 5px;
          box-shadow: rgba(0, 0, 0, 0.8) 7.29px 7.29px 5px 5px;
}
@media (max-width: 1180px) {
  .tab__wrapper {
    width: 300px;
    height: 80px;
    padding: 0 20px;
    font-size: 20px;
  }
}
.tab__icon img {
  width: 32px;
  height: 32px;
  max-width: 32px;
  max-height: 32px;
  image-rendering: optimizeQuality;
}
.tab__text {
  color: #fff;
  font-size: 23.81px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  position: relative;
  white-space: nowrap;
}
@media (max-width: 1180px) {
  .tab__text {
    padding: 0 5px;
  }
}
.tab__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(75%, rgba(255, 255, 255, 0)), to(rgb(24, 24, 24)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 75%, rgb(24, 24, 24) 100%);
}
.tab__cross {
  margin-top: 3px;
}

.page-404 {
  text-align: center;
  color: #fff;
}
.page-404 h1 {
  margin-bottom: 40px;
}

.num-404 {
  font-size: 70px;
  margin-top: 100px;
}

.link-404 {
  color: black;
  font-weight: 700;
  font-size: 18px;
  line-height: 25.2px;
  background-color: #a8ff35;
  padding: 16px 32px;
  border-radius: 40px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.link-404:hover {
  background-color: #8cc83a;
}