.email {
    text-align: center;
    background-color: $GN-1;
    padding: 140px 0;
    font-size: 72px;
    font-weight: 900;
    line-height: 81px;
    @media (max-width:900px) {
        padding: 60px 0;
        font-size: 60px;
        line-height: 1.3;
    }
    @media (max-width:590px) {
        padding: 40px 0;
        font-size: 50px;
        line-height: 1.3;
    }
    @media (max-width:500px) {
        font-size: 44px;
    }
    @media (max-width:450px) {
        font-size: 36px;
    }
    @media (max-width:360px) {
        font-size: 28px;
    }
    &__title {
        color: $B;
    }

    &__subtitle {
        color: #87d322;
        margin-bottom: 40px;
        @media (max-width:590px) {
            margin-bottom: 20px;
        }
        @media (max-width:360px) {
            margin-bottom: 30px;
        }
    }

    &__button {
        padding: 16px 52px;
        @media (max-width:360px) {
            padding: 16px 34px;
        }
        border-radius: 40px;
        background-color: $B;
        color: #fff;
        transition: all 0.3s ease 0s;

        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;

        &:hover {
            color: $GN-HOVER;
        }
    }
}

