.open {
    background-color: $GN-1;
    padding: 140px 0;
    // max-height: 742px;
    color: $B;
    &__title {
        font-weight: 700;
        font-size: 72px;
        line-height: 85px;
        text-align: center;
        margin-bottom: 60px;
    }
    &__findtrend {
        max-width: 854px;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }
    &__findtrend-tab-wrap {
        border-radius: 16px;
        background-color: $GY3;
        width: 502px;
        height: 202px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    &__findtrend-tab {
        pointer-events: all;
        &.closed {
            opacity: 1 !important;
            pointer-events: all !important;
        }
        .tab__wrapper {
            box-shadow: none;
        }
    }

    &__arrow {
        position: absolute;
        svg {
            path {
                fill: $B;
            }
        }
        &--1 {
            top: 66px;
            left: 56px;
            transform: rotate(5deg);
            .arrow-text__arrow--top {
                transform: rotate(175deg) translate(-20px);
            }
        }
        &--2 {
            top: 50px;
            right: 52px;
            transform: rotate(5deg);
            .arrow-text__arrow {
                transform: rotate(-3deg) translate(-28px);
            }
        }
    }
    &__subtitle {
        font-size: 18px;
        font-weight: 400;
        max-width: 666px;
        line-height: 150%;
        margin: 0 auto;
        text-align: center;
        margin-top: 60px;
    }
}

@media (max-width: 1000px) {
    .open {
        padding: 80px 0;
        &__title {
            font-size: 56px;
        }

        &__subtitle {
            max-width: 600px;
        }
    }
}
@media (max-width: 650px) {
    .open {
        &__title {
            margin-bottom: 80px;
        }
        &__findtrend {
            width: 340px;
        }
        &__findtrend-tab-wrap {
            width: 339px;
            height: 118px;
            border-radius: 14px;
        }


        &__arrow {
            svg {
                path {
                }
            }
            &--1 {
                transform: translate(-80px, 40px);
                .arrow-text__arrow--top {
                    transform: rotate(156deg) translate(-15px);
                }
            }
            &--2 {
                transform: translate(20px, -125px);
                .arrow-text__arrow {
                    transform: rotate(120deg) translate(15px, 10px) scaleX(-1);
                }
            }
        }
        &__subtitle {
            max-width: 300px;
            margin-top: 80px;
        }
    }
}
@media (max-width: 580px) {
    .open {
        &__title {
            font-size: 36px;
        }
    }
}
@media (max-width: 400px) {
    .open {
        padding: 40px 0;

        &__arrow {
            &--1 {
                transform: translate(-50px, 40px);
                .arrow-text__arrow--top {
                    transform: rotate(156deg) translate(-15px);
                }
            }
            &--2 {
                transform: translate(20px, -125px);
                .arrow-text__arrow {
                    transform: rotate(120deg) translate(15px, 10px) scaleX(-1);
                }
            }
        }
    }
}
@media (max-width: 380px) {
    .open {
        &__title {
            line-height: 1;
            margin-bottom: 90px;
        }
        &__findtrend {
            width: 300px;
            max-width: 300px;
        }
        &__findtrend-tab-wrap {
            width: 300px;
            max-width: 300px;
            height: auto;
            
        }


        &__arrow {
            &--1 {
                transform: translate(-50px, 28px);
                .arrow-text__arrow--top {
                    transform: rotate(156deg) translate(-15px);
                }
            }
            &--2 {
                transform: translate(20px, -125px);
                .arrow-text__arrow {
                    transform: rotate(120deg) translate(15px, 10px) scaleX(-1);
                }
            }
        }
        &__subtitle {
            margin-top: 120px;
        }
    }
}