.platforms {
    padding: 140px 0;
    background-color: #FAFAFA;
    text-align: center;
    &__title {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 64px;
        margin-bottom: 80px;
    }
    &__radio-wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 77px;
    }

    &__content {
        margin: 0 auto;
        max-width: 800px;
        img:not(:last-child){
            margin-bottom: 40px;
        }
        img:last-child{
            margin-bottom: 80px;
        }
    }

    &__placeholder {
    }

    &__view-btn {
        padding: 16px 32px;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        background-color: $B;
        color: #fff;
        border-radius: 40px;
        transition: all 0.3s ease 0s;
        &:hover{
            color: $GN-HOVER;
        }
    }
}
.platform {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 124px;
    height: 124px;
    border-radius: 8px;
    background-color: #fff;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    &:hover{
        background-color: rgb(194, 194, 194);
    }
    &.active{
        background-color: $GN-1;
    }
}
