.pricing {
    background-color: $B;
    padding: 140px 0;
    @media (max-width: 1200px) {
        padding: 60px 0;
    }
    @media (max-width: 1000px) {
        padding: 40px 0;
    }
    @media (max-width: 400px) {
        padding: 30px 0;
    }
    &__title {
        color: #fff;
        @media (max-width: 1000px) {
            font-size: 44px !important;
        }
        @media (max-width: 400px) {
            font-size: 36px !important;
        }
    }
    &__switch {
        color: $GY3;
    }
    &__options-wrap {
        display: flex;
        > div:not(:last-child) {
            margin-right: 40px;
            @media (max-width: 1200px) {
                margin-right: 5px;
            }
            @media (max-width: 1000px) {
                margin-right: 10px;
                margin-bottom: 10px;
            }
            @media (max-width: 710px) {
                margin: 0;
                margin-bottom: 20px;
            }
        }
        > div:nth-child(2) {
            @media (max-width: 1000px) {
                margin-right: 0;
            }
        }
        @media (max-width: 1200px) {
            justify-content: space-between;
        }
        @media (max-width: 1000px) {
            flex-wrap: wrap;
            justify-content: center;
        }
        @media (max-width: 710px) {
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: center;
        }
    }
}
.switch {
    width: 345px;
    margin: 0 auto;
    max-height: 132px;
    position: relative;
    @media (max-width: 580px) {
        margin-bottom: 60px;
    }
    @media (max-width: 400px) {
        margin-bottom: 45px;
    }
    &__wrap {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 360px) {
            max-width: 300px;
            margin: 0 auto;
        }
        @media (max-width: 340px) {
            max-width: 300px;
            margin: 0;
        }
    }
    &__arrow {
        position: absolute;
        top: 50%;
        margin-top: -34px;
        right: -85px;
        @media (max-width: 580px) {
            margin-top: 50px;
            right: 48px;
        }
        .arrow-text {
            transform: rotate(7deg);
            max-width: 60px;
        }
        .arrow-text__arrow {
            transform: translate(-25px) rotate(-5deg);
            @media (max-width: 580px) {
                transform: translate(-10px, -65px) rotate(9deg) scaleY(-1);
            }
        }
    }
    &__period {
        font-family: "Inter", sans-serif;
        font-size: 24px;
        @media (max-width: 400px) {
            font-size: 18px;
        }
        font-weight: 500;
        line-height: 29px;
        transition: color 0.3s ease 0s;
        .active {
            color: #fff;
        }
    }

    &__button {
        width: 104px;
        height: 52px;
        @media (max-width: 400px) {
            height: 44px;
        }
        display: flex;
        align-items: center;
        border-radius: 99px;
        background-color: #fff;
        padding: 8px;
        position: relative;
        margin: 40px 24px;
        &.toggle {
            div {
                right: 8px;
            }
        }
    }

    &__circle {
        right: 60px;
        position: absolute;
        transition: all 0.3s ease 0s;
        border-radius: 50%;
        height: 36px;
        width: 36px;
        background-color: $GN-1;
    }
}
.pricing-option {
    padding: 32px;
    width: 360px;
    min-height: 640px;
    @media (max-width: 1200px) {
        width: 339px;
        min-height: 602px;
    }
    @media (max-width: 360px) {
       max-width: 300px;
    }
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &.white {
        background-color: #fff;
    }
    &.green {
        background-color: $GN-1;
    }
    &__wrapper {
    }
    &__name {
        font-size: 36px;
        font-weight: 500;
        line-height: 36px;
        text-transform: capitalize;
    }
    &__target {
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        margin-top: 8px;
    }
    &__price {
        position: relative;
        min-height: 84px;
        &::before {
            content: "";
            display: block;
            height: 1px;
            width: 100%;
            background-color: rgba($color: #000000, $alpha: 0.3);
            margin-top: 32px;
            margin-bottom: 19px;
        }
        margin-bottom: 32px;
    }
    &__price-wrap {
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;
        transition: all 0.2s ease 0s;
        &.active {
            opacity: 1;
            pointer-events: all;
        }
    }
    &__dollars {
        font-size: 64px;
        font-weight: 500;
        line-height: 64px;
    }
    &__per-what {
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
    }
    &__pluses {
        margin-bottom: 15px;
    }
    &__plus {
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        display: flex;
        justify-content: left;
        align-items: center;
        &::before {
            display: block;
            content: "";
            width: 14px;
            height: 9px;
            background-image: url("../img/ok.svg");
            margin-right: 13px;
        }
        &:not(:last-child) {
            margin-bottom: 27px;
        }
    }
    &__start-btn {
        font-family: "Roboto", sans-serif;
        width: 100%;
        height: 58px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        text-align: center;
        transition: all 0.3s ease 0s;
        border-radius: 29px;
        &.green {
            background-color: $GN-1;
        }
        &.black {
            background-color: $B;
            color: #fff;
            transition: all 0.7s ease 0s;
            &:hover {
                background-color: #fff;
                color: $B;
            }
        }
        &:hover {
            background-color: $GN-HOVER;
        }
    }
}
