include ../__mixins.pug
section.start
    .start__bg.ibg
        img(src="img/bg-full.png", alt="")
        .container.container--small
            .start__info 
                h1.start__title Minimize your tabs.<br>Find the trends!
                h4.start__subtitle Don’t let your computer memories consume all of those browser tabs. Findtrend  let you gather all of your favorite website into one place.
                button.start__button 
                    a(href="") Get Started 🔥
                +arrow-text-bottom(`All research start from here`)(class="start__arrow") 
            .start__tabs
                +tab('img/twitter.svg','Cryptopunk - Search','start__twitter start__tab')
                +tab('img/pinterest.svg','Popular Design - Se','start__pinterest start__tab')
                +tab('img/linkedin.svg','Product Design - Se','start__linkedin start__tab')
                +tab('img/dribbble.svg','Elon Musk - Search','start__dribbble start__tab')