include ../__mixins.pug
section.open 
    h2.open__title Open new tabs is crap
    .open__findtrend
        +arrow-text-top('solution for discover a trend')(class="open__arrow open__arrow--1")
        .open__findtrend-tab-wrap 
            +tab('img/findtrendsvg.svg', 'Findtrend - Elon Mu', 'open__findtrend-tab')
        +arrow-text-bottom('You just need one tab now')(class="open__arrow open__arrow--2")
    .open__subtitle. 
        A solution for your browser tabs and don’t make 
        your device get slower over time. Get ease and 
        faster to discover a trend with just one tab.