include __mixins.pug
footer.footer 
    .container.container--large
        a(href="#").footer__logo
            include svg/Frame.svg
        -
            var list = [["Privacy Policy","404.html"], ["Terms and Conditions","404.html"],
                ["Contact Us","404.html"], ["Careers","404.html"]]
        +nav-links(list, 'footer__link nav-link')(class="footer__links nav-list")
