doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title Findtrend
    body 
        include pug/__header.pug

        main.main 
            include pug/sections/__first.pug

            include pug/sections/__open.pug

            include pug/sections/__stats.pug

            include pug/sections/__platforms.pug

            include pug/sections/__pricing.pug

            include pug/sections/__email.pug

        include pug/__footer.pug
        script(src="js/ibg.js") 
        script(src="js/script.js") 