//null-style
@import "__null-style.scss";
//fonts
@import "__fonts.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Roboto:wght@400;700&display=swap');
//ibg
@import "__ibg.scss";
//Consts============================

//COLORS
$GN-1: #a8ff35;
$GN-2: #87d322;
$GN-HOVER: #8cc83a;

$B: black;
$B2: #2b2b2b;

$GY1: #8b8b8b;
$GY2: #adadad;
$GY3: #f5f5f5;
$GY4: #f1f1f1;

//templates
.nav-list {
    display: flex;
    justify-content: space-between;
    & > li:not(:last-child) {
        margin-right: 40px;
    }
}
.nav-link {
    font-size: 18px;
    transition: color 0.2s ease 0s;
    &:hover {
        color: $GN-HOVER;
    }
}
//tailwind-like classes

//==================================

//header
@import "__header.scss";
//footer
@import "__footer.scss";

//first screen
@import "sections/__first.scss";
//second screen
@import "sections/__open.scss";
//third screen
@import "sections/__stats.scss";
//fourth
@import "sections/__platforms.scss";
//fifth
@import "sections/__pricing.scss";
//last
@import "sections/__email.scss";
//popup
@import "__login.scss";
//==================================

//General style
body {
    background-color: black;
}
.h2{
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    text-align: center;
}
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    &--large {
        max-width: 1280px +20px;
    }
    &--small {
        max-width: 1160px +20px;
    }
}
.logo {
    display: block;
    width: 170px;
    height: 41px;
    &__mobile{
        display: none;
    }
    @media (max-width: 510px) {
        width: 40px;
        height: 40px;
        &__mobile{
            svg{
                width: 40px;
                height: 40px;
            }
            display: block;
        }
        &__desk{
            display: none;
        }
    }
}
.arrow-text {
    font-size: 14px;
    font-weight: 400;
    font-family: "GoodDog", sans-serif;
    text-align: center;
    max-width: 95px;
    &__text {
        max-width: 95px;
    }
    &__arrow--top {
        transform: rotate(180deg);
    }
}
.tab {
    transition: opacity 0.3s ease 0s;
    @media(max-width: 1180px){
        width: 300px;
        height: 80px;
        font-size: 20px;
    }
    &.closed {
        opacity: 0;
        pointer-events: none;
    }
    &__wrapper {
        width: 341px;
        height: 82px;
        max-width: 341px;
        max-height: 82px;
        padding: 25px 24px 25px 40px;
        background-color: #181818;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: rgba($color: #000, $alpha: 0.8) 7.29px 7.29px 5px 5px;
        @media(max-width: 1180px){
            width: 300px;
            height: 80px;
            padding: 0 20px;
            font-size: 20px;
        }
    }

    &__icon {
        img {
            width: 32px;
            height: 32px;
            max-width: 32px;
            max-height: 32px;
            image-rendering: optimizeQuality;
        }
    }

    &__text {
        color: #fff;
        font-size: 23.81px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        position: relative;
        white-space: nowrap;
        @media(max-width: 1180px){
            padding: 0 5px;
        }
    }
    &__shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        // background: rgb(255, 255, 255);
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 75%, rgba(24, 24, 24, 1) 100%);
    }
    &__cross {
        margin-top: 3px;
    }
}

.page-404{
    text-align: center;
    color: #fff;
    h1{
        margin-bottom: 40px;
    }
}

.num-404{
    font-size: 70px;
    margin-top: 100px;
}

.link-404{
    color: $B;
    font-weight: 700;
    font-size: 18px;
    line-height: 25.2px;
    background-color: $GN-1;
    padding: 16px 32px;
    border-radius: 40px;
    transition: all 0.3s ease 0s;
    &:hover {
        background-color: $GN-HOVER;
    }
}